<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>promocoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="full" *ngFor="let produto of listaProdutos">
    <ion-thumbnail slot="start">
      <img src="https://th.bing.com/th/id/OIP.--gqn9AJhoRmcG4jrYHPdAHaE8?pid=ImgDet&rs=1" />
    </ion-thumbnail>

    <ion-label>
      <h2>{{produto.nome | uppercase }}</h2>
      <p>{{produto.descricao}}</p>
    </ion-label>

    <ion-badge color="dark">R$ {{produto.valor | number: '1.2-2'}}</ion-badge>

    <ion-button expand="block" slot="end" (click)="addProdutoCarrinho(produto)">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>

</ion-content>
