<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="warning" class="ion-text-center">
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light" class="ion-text-center">
          <img
            src="https://4.bp.blogspot.com/-R0TZv4BEH4c/VykfVY70tQI/AAAAAAAAIGQ/WEzNJr1MHA8gkGEGYyAkOOLLeLsk7eCsQCLcB/s1600/PROMOCAO.png"
            alt="">
          <ion-item lines="none" color="dark">
            <ion-label class="titulo-promocao">Confira nossos produtos em promoção!</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="light">
          <img src="https://i.pinimg.com/originals/2a/59/50/2a5950702d3d1895ca4c4e3187a33701.jpg" alt="">
          <ion-item lines="full" color="light">
            Velas Arómaticas
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light">
          <img
            src="https://th.bing.com/th/id/OIP.P7wOdVA1DgFMe0XsldPv4gHaGS?pid=ImgDet&rs=1"
            alt="">
          <ion-item lines="full" color="light">
            Cristais
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <img
            src="https://img.elo7.com.br/product/zoom/34305E5/mandala-do-amor-comunicacao-e-espiritualidade-boas-vibracoes.jpg"
            alt="">
          <ion-item lines="full" color="light">
            Mandalas
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light">
          <img
            src="https://img.elo7.com.br/product/zoom/1C44555/pulseira-hippie-boho.jpg"
            alt="">
          <ion-item lines="full" color="light">
            Pulseiras
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
